---
import ProjectCard from '@components/general/ProjectCard.astro';
import type { IProjects } from '@types';

const { title, projects } = Astro.props as IProjects;
---

<section class="flex items-start justify-between flex-col dark:text-light">
	<h2 class="w-full text-4xl text-center md:my-4 my-2">{title}</h2>

	<div class="flex justify-center dark:text-white text-zinc-900 w-full">
		<div>
			<a href="/" class="dark:text-white text-zinc-900 underline">Go back</a> in time ⏰
		</div>
	</div>

	<div class="w-full mt-6 grid lg:grid-cols-3 grid-cols-2 md:gap-8 gap-2">
		{projects.map(project => <ProjectCard projectDetail={project} />)}
	</div>
</section>
