/* ========== import font source ========== */
@import 'fonts.css';

/* ========== import custom styles ========== */
@import 'custom-styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
	body {
		@apply bg-light dark:bg-dark;
	}
	.container {
		@apply max-w-[1112px] mx-auto px-4;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-outfit;
	}
	h1 {
		@apply text-6xl sm:text-8xl main-heading;
	}
	h2 {
		@apply text-xl font-semibold;
	}
	p,
	li,
	button,
	a {
		@apply font-outfit text-dark-gray;
	}
	.footer-icons {
		@apply dark:text-light flex items-center border border-dark dark:border-light p-4 rounded-lg justify-center;
	}
	.header-icons {
		@apply dark:text-light;
	}
}

.blog-header {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.blog-post {
	max-width: 720px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.blog-post h2 {
	margin-top: 24px;
	margin-bottom: 8px;
	font-size: 1.5rem !important;
	font-weight: 600 !important;
}

.blog-post h3 {
	margin-top: 16px;
	margin-bottom: 8px;
	font-size: 1.25rem !important;
	font-weight: 600 !important;
}

.blog-post a {
	transition: opacity 0.2s !important;
	text-decoration: underline !important;
}

.blog-post a:hover {
	opacity: 0.8 !important;
}

.blog-post p {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.blog-post ul {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	margin-left: 16px !important;
}

.blog-post li {
	list-style-type: disc !important;
}

.blog-post code {
	background-color: #1a202c !important;
	padding: 4px !important;
	border-radius: 4px !important;
}

.blog-post table {
	width: 100% !important;
}

.blog-post td {
	padding: 8px !important;
	border: 1px solid #e2e8f0 !important;
}

[data-theme='dark'] .blog-post,
[data-theme='dark'] .blog-post p,
[data-theme='dark'] .blog-post li,
[data-theme='dark'] .blog-post a {
	color: #ffffff !important;
}

[data-theme='light'] .blog-post code {
	color: #ffffff !important;
}
