---
import { IProjects } from '@types';
import ProjectCard from './ProjectCard.astro';

const { projects } = Astro.props as IProjects;
---

<div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-8">
	{projects.map(project => <ProjectCard projectDetail={project} />)}

	<div class="md:col-span-2 col-span-1 text-center mt-4 md:text-base text-sm text-white">
		<a class="dark:text-white text-zinc-900 underline hover:opacity-70 transition-opacity" href="/projects"
			>View all projects</a
		>
	</div>
</div>
