---
import { IBlog } from '@types';

const { id: blog_id, title, date } = Astro.props as IBlog;
---

<div class="flex justify-center text-zinc-900 dark:text-white mb-8">
	<div>
		<a href="/" class="underline text-zinc-900 dark:text-white">Go back</a> in time ⏰
	</div>
</div>

<div class="blog-header">
	<h1 class="text-4xl mb-2">{title}</h1>

	<p class="text-sm dark:text-gray mb-8">{date}</p>
</div>

<div class="blog-post">
	<slot />
</div>

<div
	class="flex max-w-[720px] mx-auto md:gap-x-4 gap-2 justify-center items-center md:text-base text-sm mb-10 md:flex-row flex-col"
>
	<button
		id="subscribe-popup-button"
		class="h-10 w-full px-4 py-2 bg-zinc-700 hover:bg-zinc-600 transition-colors rounded-md block cursor-pointer text-white text-center"
	>
		Subscribe to my blog
	</button>

	<a
		class="h-10 w-full px-4 py-2 border-2 border-zinc-800 dark:hover:bg-zinc-800 hover:bg-zinc-300 transition-colors rounded-md block cursor-pointer dark:text-light text-zinc-800 text-center"
		href="mailto:info@vonkprogramming.nl"
	>
		Ask me a question</a
	>
</div>

<script is:inline>
	const blogPostSubscribeButton = document.getElementById('subscribe-popup-button');

	blogPostSubscribeButton.addEventListener('click', () => {
		document.querySelector('#subscribe-component').classList.add('flex');
		document.querySelector('#subscribe-component').classList.remove('hidden');
	});

	const viewedBlogs = JSON.parse(localStorage.getItem('viewed-blogs')) || [];

	if (!viewedBlogs.includes(blog_id)) {
		viewedBlogs.push(blog_id);
		localStorage.setItem('viewed-blogs', JSON.stringify(viewedBlogs));

		fetch('https://api.ipify.org?format=json')
			.then(response => response.json())
			.then(data => {
				fetch('/view.php', {
					blog_id,
					ip_address: data.ip,
				});
			})
			.catch(error => {
				console.log('Error:', error);
			});
	}
</script>
