---
import { info } from '@data';

import Layout from '@layouts/Layout.astro';
import MetaHead from '@components/general/MetaHead.astro';
import BlogPost from '@components/blog/BlogPost.astro';

const blog = info.blogs.find(blog => blog.id === 15);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MetaHead
			title={'Being bored'}
			description={info.description}
			keywords={['boredom', 'productivity', 'creativity', 'motivation'].join(', ')}
			author={info.name}
			ogImageUrl={'/assets/images/logo.webp'}
		/>
	</head>

	<body>
		<Layout>
			<BlogPost {...blog}>
				<p>
					Being bored doesn’t feel good, but with a smartphone in hand and endless ways to combat it, boredom
					has become a rarity. We can scroll through social media, watch videos on YouTube, or read the news.
					These are all convenient ways to avoid feeling bored. But is this actually a good thing?
				</p>
				<h3 id="the-benefits-of-being-bored">The Benefits of Being Bored</h3>
				<p>
					It might not feel great to be bored, but two amazing things happen when you allow yourself to be
					bored: you have time to think and be creative. Some of the greatest ideas in the world have come
					from moments of boredom. Boredom also creates motivation to finally pick up the tasks that you’ve
					been avoiding, like doing the dishes, cleaning the house, or finally picking up that book you’ve
					been meaning to finish.
				</p>
				<h3 id="accepting-boredom">Accepting Boredom</h3>
				<p>
					It&#39;s beneficial to be bored sometimes. Putting your phone away for a few hours when you have
					nothing to do and simply sitting with your thoughts might seem like wasting time at first. However,
					you&#39;ll likely find yourself doing something productive. And the best part? You’ll enjoy it
					because it’s a meaningful way to combat boredom.
				</p>
				<h3 id="combating-boredom-with-productive-activities">Combating Boredom with Productive Activities</h3>
				<p>
					This blog isn’t necessarily in favour of boredom. Rather, it’s about realising that fighting boredom
					with mindless scrolling or watching yet another random YouTube video isn’t the best solution.
					Instead, filling that time with something useful, something that engages your mind or helps you
					accomplish a task. It can lead to great things.
				</p>
				<h3 id="conclusion">Conclusion</h3>
				<p>
					I’ve already started to embrace this idea. Sometimes, I just sit and allow myself to be bored for a
					while. I’ll place my phone somewhere out of reach and live in my mind for a bit. This often gives
					creativity or motivation to tackle tasks I’ve been putting off. It’s a simple shift, but it can make
					a huge difference.
				</p>
			</BlogPost>
		</Layout>
	</body>
</html>
