---
import Footer from '@components/general/Footer.astro';
import Navbar from '@components/general/Navbar.astro';
import Cookie from '@components/general/Cookie.astro';
import '../styles/style.css';
---

<Navbar />
<main class="container">
	<Cookie />
	<slot />
</main>
<Footer />

<script is:inline>
	const cookieToggle = !localStorage.getItem('cookie-accept');

	if (cookieToggle) {
		document.querySelector('#cookie-component').classList.remove('hidden');
		document.querySelector('#cookie-component').classList.add('flex');
	}
</script>
