---
import Footer from '@components/general/Footer.astro';
import Navbar from '@components/general/Navbar.astro';
import Cookie from '@components/general/Cookie.astro';
import Subscribe from '@components/general/Subscribe.astro';

import '../styles/style.css';
---

<Navbar />
<main class="container">
	<Cookie />
	<Subscribe />

	<slot />
</main>
<Footer />

<script is:inline>
	// Check if popup was already shown
	const cookieToggle = !localStorage.getItem('cookie-accept');

	// If popup was not shown, show cookie popup
	if (cookieToggle) {
		document.querySelector('#cookie-component').classList.remove('hidden');
		document.querySelector('#cookie-component').classList.add('flex');
	}

	// Check if first time visit
	if (!localStorage.getItem('first-visit')) {
		localStorage.setItem('first-visit', new Date().getTime());
	} else {
		const firstVisit = Number(localStorage.getItem('first-visit'));

		// If visited for more than 10 minutes show subscribe popup
		if (new Date().getTime() - firstVisit > 600000) {
			// If user has not already seen the subscribe popup
			const subscribeToggle = !localStorage.getItem('subscribe-popup');

			if (subscribeToggle) {
				document.querySelector('#subscribe-component').classList.remove('hidden');
				document.querySelector('#subscribe-component').classList.add('flex');
			}
		}
	}
</script>
