---
import Footer from '@components/general/Footer.astro';
import Navbar from '@components/general/Navbar.astro';
import Cookie from '@components/general/Cookie.astro';

import '../styles/style.css';
---

<Navbar />
<main class="container">
	<Cookie />

	<slot />
</main>
<Footer />

<script is:inline>
	// Check if popup was already shown
	const cookieToggle = !localStorage.getItem('cookie-accept');

	// If popup was not shown, show cookie popup
	if (cookieToggle) {
		document.querySelector('#cookie-component').classList.remove('hidden');
		document.querySelector('#cookie-component').classList.add('flex');
	}
</script>
