---
import Footer from '@components/general/Footer.astro';
import Navbar from '@components/general/Navbar.astro';
import Cookie from '@components/general/Cookie.astro';

import '../styles/style.css';
import Subscribe from '@components/general/Subscribe.astro';
---

<Navbar />
<main class="container">
	<Cookie />
	<Subscribe />

	<slot />
</main>
<Footer />

<script is:inline>
	// Check if popup was already shown
	const cookieToggle = !localStorage.getItem('cookie-accept');

	// If popup was not shown, show cookie popup
	if (cookieToggle) {
		const cookieComponent = document.querySelector('#cookie-component');
		
		cookieComponent.classList.remove('hidden');
		cookieComponent.classList.add('flex');
	}

	// Check if subscribe popup was already shown
	const subscribeToggle = localStorage.getItem('subscribe-popup');

	// If popup was not shown, show subscribe popup
	if (!subscribeToggle || new Date().getTime() - parseInt(subscribeToggle) > 1000 * 3600 * 24 * 7) {
		setTimeout(() => {
			const subscribeComponent = document.querySelector('#subscribe-component');

			subscribeComponent.classList.remove('hidden');
			subscribeComponent.classList.add('flex');
		}, 10000);
	}
</script>
